
<form class="form-horizontal">
    <fieldset ng-controller="RxNormReview">
        <table>
            <tr>
                <td class="col-sm-6">
                    <table>
                        <tr>
                            <td>
                                <div class="control-group" ng-show="cuis.entries.length != 0">
                                    <label class="control-label" for="reviewers">Reviewers:</label>
                                    <select id="reviewers" 
                                        name="reviewers" 
                                        class="dropdown-toggle" 
                                        data-toggle="dropdown" 
                                        ng-model="selection.reviewer"
                                        ng-change="initializeValues({{cuis.ind}});"
                                        ng-disabled="cuis.entries.length == 0"
                                        onchange="changeReviewer();">
                                        <option value="">Select a reviewer</option>
                                        <option ng-repeat="mainrev in mainReviewers" 
                                            value="{{mainrev}}">{{mainrev}}</option>
                                        <option ng-repeat="guestrev in guestReviewers" 
                                            value="{{guestrev}}">{{guestrev}}</option>
                                    </select>
                                    <label style="color:FireBrick" ng-show="!selection.reviewer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please select a reviewer to continue...</label>
                                </div>
                            </td>
                            <td ng-hide="!selection.reviewer">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="helpButton" 
                                        name="helpButtonName" 
                                        class="btn btn-info"
                                        title="Shows the review process information"
                                        ng-click="toggleHelp()">{{helpButtonText}}</button>
                                        &nbsp;&nbsp;<button id="reportButton" 
                                        name="reportButtonName" 
                                        class="btn btn-default"
                                        title="Shows the review comments in a new tab"
                                        ng-click="showReport()">Show Report</button>&nbsp;&nbsp;
                                <span id="counterDisp" style="color:green;font-style:italic">
                                    &nbsp;&nbsp;Record Number&nbsp;:&nbsp;
                                    <b><a href="#" data-toggle="tooltip" title="Sequence number for RxCUIs (current session)">{{cuis.ind + 1}}</a></b>&nbsp;[&nbsp;Status:&nbsp;<u><span id="review_status" style="color:orange">{{currentReviewStatus}}</span></u>
                                    &nbsp;]
                                </span>
                            </td>
                            <td ng-hide="!selection.reviewer">
                                <span id="counterDisp2" style="color:green;font-style:italic">
                                &nbsp;&nbsp;Remaining&nbsp;:&nbsp;
                                <b><a href="#" data-toggle="tooltip" title="Number of 'Incomplete' RxCUIs (not including ones 'In Progress' state for review)">{{getPendingSCDs()}}</a></b>
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr><td>&nbsp;<label ng-show="cuis.entries.length == 0" style="color:FireBrick">WARNING: No RxNorm Drug found for review! Please contact The <u><a href="mailto:Freimuth.Robert@mayo.edu?subject=Request for RxNorm SCD Review Access">Administrator</a></u>. Thank You!.</label>
                <p><button id="helpButton2" 
                                        name="helpButtonName2" 
                                        class="btn btn-info"
                                        title="Shows the review process information"
                                        ng-hide="selection.reviewer"
                                        ng-click="toggleHelp()">{{helpButtonText}}</button>
                </p>

            </td></tr>
            <tr ng-hide="(!selection.reviewer)||(showHelp)">
                <td class="col-sm-6">
                    <fieldset ng-disabled="!selection.reviewer">
                        <table valign="top" width="100%" cellspacing="100">
                            <tr valign="top">
                                <td width="50px"><b>RxCUI:</b></td>
                                <td rowspan="2" width="50px"><b><span id="scd_rxcui" style="color:blue"><u>{{cuis.entries[cuis.ind]['SCD_rxcui']}}</u></span></b></td>
                                <td width="50px">&nbsp;&nbsp;<b>Drug(SCD)&nbsp;:&nbsp;</b></td>
                                <td style="word-wrap: break-word;" rowspan="2"><span id="scd_df" style="color:blue">{{existing[0]['SCD_str']}}</span></td>
                            </tr>
                            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr ng-hide="(!selection.reviewer)||(showHelp)">
                <td class="col-sm-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Exisitng&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:brown"><font size="2">{{getBreadcrumbs(-1, existing[0]['DF_str'])}}</font></span></h3>
                        </div>
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td width="10%">
                                        <div role="alert"><b>RxNorm DF:&nbsp;</b></div>
                                    </td>
                                    <td width="25%">
                                        <span style="color:blue">{{existing[0]['DF_str']}}</span>
                                    </td>
                                    <td width="15%">
                                        <div role="alert"><b>RxTerms New DF:&nbsp;</b></div>
                                    </td>
                                    <td width="25%">
                                        <span style="color:blue">{{existing[0]['NEWDF_rxt']}}</span>
                                    </td>
                               
                                    <td width="15%">
                                        <div role="alert"><b>RxTerms Route:&nbsp;</b></div>
                                    </td>
                                    <td width="10%">
                                        <span style="color:blue">{{existing[0]['ROUTE_rxt']}}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-hide="(!selection.reviewer)||(showHelp)">
                <td>
                    <table>
                        <tr valign="top">
                            <td class="col-sm-4">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Proposed&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <span class="label label-danger" ng-show="showConflict(existing[0]['conflict'])">Multiple proposed values. Please suggest resolution in comment.</span></h3>
                                                </div>
                                                <div class="panel-body">
                                                    <table width="100%">
                                                        <tr><td colspan="6"><h4><span class="label label-default">Dose Forms</span></h4></td></tr>
                                                        <tr>
                                                            <td width="43%">
                                                                <div role="alert">
                                                                    <b>{{propertyList[0][1].split(":")[1].trim()}}:</b>&nbsp;&nbsp;
                                                                <span style="color:blue">{{existing[0]['prop1']}}</span>
                                                                </div>
                                                            </td>
                                                            <td width="5%" align="rigt">
                                                                <span id="{{propertyList[0][1]}}" style ="color:{{getColor(0)}}" class='glyphicon glyphicon-stop' 
                                                                    onClick="setSelectedProperty(this.id, 0)"></span>
                                                            </td>
                                                            <td width="2%" aligh="left">
                                                                <span id="OK{{propertyList[0][0]}}" style ="color:green;visibility:hidden" class='glyphicon glyphicon-ok'></span>
                                                                <input id="NEW{{propertyList[0][0]}}" type="hidden" value="{{commentList[0][1]}}" ng-click="storeComment($event, cuis.entries[cuis.ind]['SCD_rxcui'])"/>
                                                            </td>
                                                            <td width="43%">
                                                                <div role="alert">
                                                                    <b>&nbsp;&nbsp;{{propertyList[1][1].split(":")[1].trim()}}:</b>&nbsp;&nbsp;
                                                                <span style="color:blue">{{existing[0]['prop3']}}</span>
                                                                </div>
                                                            </td>
                                                            <td width="5%">
                                                                <span id="{{propertyList[1][1]}}" style ="color:{{getColor(1)}}" class='glyphicon glyphicon-stop'
                                                                    onClick="setSelectedProperty(this.id, 1)"></span>
                                                            </td>
                                                            <td width="2%" aligh="left">
                                                                <span id="OK{{propertyList[1][0]}}" style ="color:green;visibility:hidden" class='glyphicon glyphicon-ok'></span>
                                                                <input id="NEW{{propertyList[1][0]}}" type="hidden" value="{{commentList[1][1]}}" ng-click="storeComment($event, cuis.entries[cuis.ind]['SCD_rxcui'])"/>
                                                            </td>
                                                        </tr>
                                                        <tr><td colspan="6">&nbsp;</td></tr>
                                                        <tr>
                                                            <td width="43%">
                                                                <div role="alert">
                                                                    <b>{{propertyList[2][1].split(":")[1].trim()}}:</b>&nbsp;&nbsp;
                                                                <span style="color:blue">{{existing[0]['prop2']}}</span>
                                                                </div>
                                                            </td>
                                                            <td width="5%">
                                                                <span id="{{propertyList[2][1]}}" style ="color:{{getColor(2)}}" class='glyphicon glyphicon-stop'
                                                                    onClick="setSelectedProperty(this.id, 2)"></span>
                                                            </td>
                                                            <td width="2%" aligh="left">
                                                                <span id="OK{{propertyList[2][0]}}" style ="color:green;visibility:hidden" class='glyphicon glyphicon-ok'></span>
                                                                <input id="NEW{{propertyList[2][0]}}" type="hidden" value="{{commentList[2][1]}}" ng-click="storeComment($event, cuis.entries[cuis.ind]['SCD_rxcui'])"/>
                                                            </td>
                                                            <td width="43%">
                                                                <div role="alert">
                                                                    <b>&nbsp;&nbsp;{{propertyList[3][1].split(":")[1].trim()}}:</b>&nbsp;&nbsp;
                                                                <span style="color:blue">{{existing[0]['prop4']}}</span>
                                                                </div>
                                                            </td>
                                                            <td width="5%">
                                                                <span id="{{propertyList[3][1]}}" style ="color:{{getColor(3)}}" class='glyphicon glyphicon-stop'
                                                                    onClick="setSelectedProperty(this.id, 3)"></span>
                                                            </td>
                                                            <td width="2%" aligh="left">
                                                                <span id="OK{{propertyList[3][0]}}" style ="color:green;visibility:hidden" class='glyphicon glyphicon-ok'></span>
                                                                <input id="NEW{{propertyList[3][0]}}" type="hidden" value="{{commentList[3][1]}}" ng-click="storeComment($event, cuis.entries[cuis.ind]['SCD_rxcui'])"/>
                                                            </td>
                                                        </tr>
                                                        <tr><td colspan="6"><h4><span class="label label-default">Administration</span></h4></td></tr>
                                                        <tr>
                                                            <td width="43%">
                                                                <div role="alert">
                                                                    <b>{{propertyList[4][1].split(":")[1].trim()}}:</b>&nbsp;&nbsp;
                                                                <span style="color:blue">{{existing[0]['prop5']}}</span>
                                                                </div>
                                                            </td>
                                                            <td width="5%">
                                                                <span id="{{propertyList[4][1]}}" style ="color:{{getColor(4)}}" class='glyphicon glyphicon-stop'
                                                                    onClick="setSelectedProperty(this.id, 4)"></span>
                                                            </td>
                                                            <td width="2%" aligh="left">
                                                                <span id="OK{{propertyList[4][0]}}" style ="color:green;visibility:hidden" class='glyphicon glyphicon-ok'></span>
                                                                <input id="NEW{{propertyList[4][0]}}" type="hidden" value="{{commentList[4][1]}}" ng-click="storeComment($event, cuis.entries[cuis.ind]['SCD_rxcui'])"/>
                                                            </td>
                                                            <td width="43%">
                                                                <div role="alert">
                                                                    <b>&nbsp;&nbsp;{{propertyList[5][1].split(":")[1].trim()}}:</b>&nbsp;&nbsp;
                                                                <span style="color:blue">{{existing[0]['prop6']}}</span>
                                                                </div>
                                                            </td>
                                                            <td width="5%">
                                                                <span id="{{propertyList[5][1]}}" style ="color:{{getColor(5)}}" class='glyphicon glyphicon-stop'
                                                                    onClick="setSelectedProperty(this.id, 5)"></span>
                                                            </td>
                                                            <td width="2%" aligh="left">
                                                                <span id="OK{{propertyList[5][0]}}" style ="color:green;visibility:hidden" class='glyphicon glyphicon-ok'></span>
                                                                <input id="NEW{{propertyList[5][0]}}" type="hidden" value="{{commentList[5][1]}}" ng-click="storeComment($event, cuis.entries[cuis.ind]['SCD_rxcui'])"/>
                                                            </td>
                                                        </tr>
                                                        <tr><td colspan="6"><h4><span class="label label-default">Delivery Device</span></h4></td></tr>
                                                        <tr>
                                                            <td width="43%">
                                                                <div role="alert">
                                                                    <b>{{propertyList[6][1].split(":")[1].trim()}}:</b>&nbsp;&nbsp;
                                                                <span style="color:blue">{{existing[0]['prop7']}}</span>
                                                                </div>
                                                            </td>
                                                            <td width="5%">
                                                                <span id="{{propertyList[6][1]}}" style ="color:{{getColor(6)}}" class='glyphicon glyphicon-stop'
                                                                    onClick="setSelectedProperty(this.id, 6)"></span>
                                                            </td>
                                                            <td width="2%" aligh="left">
                                                                <span id="OK{{propertyList[6][0]}}" style ="color:green;visibility:hidden" class='glyphicon glyphicon-ok'></span>
                                                                <input id="NEW{{propertyList[6][0]}}" type="hidden" value="{{commentList[6][1]}}" ng-click="storeComment($event, cuis.entries[cuis.ind]['SCD_rxcui'])"/>
                                                            </td>
                                                            <td width="43%">
                                                                <div role="alert">
                                                                    <b>&nbsp;&nbsp;{{propertyList[9][1].split(":")[1].trim()}}:</b>&nbsp;&nbsp;
                                                                    <span style="color:blue">{{existing[0]['prop9']}}</span>
                                                                </div>
                                                            </td>
                                                            <td width="5%">
                                                                <span id="{{propertyList[9][1]}}" style ="color:{{getColor(9)}}" class='glyphicon glyphicon-stop'
                                                                    onClick="setSelectedProperty(this.id, 9)"></span>
                                                            </td>
                                                            <td width="2%" aligh="left">
                                                                <span id="OK{{propertyList[9][0]}}" style ="color:green;visibility:hidden" class='glyphicon glyphicon-ok'></span>
                                                                <input id="NEW{{propertyList[9][0]}}" type="hidden" value="{{commentList[9][1]}}" ng-click="storeComment($event, cuis.entries[cuis.ind]['SCD_rxcui'])"/>
                                                            </td>
                                                        </tr>
                                                        <tr><td colspan="6">&nbsp;</td></tr>
                                                        <tr>
                                                            <td width="43%">
                                                                <div role="alert">
                                                                    <b>{{propertyList[7][1].split(":")[1].trim()}}:</b>&nbsp;&nbsp;
                                                                    <span style="color:blue">{{existing[0]['prop8']}}</span>
                                                                </div>
                                                            </td>
                                                            <td width="5%">
                                                                <span id="{{propertyList[7][1]}}" style ="color:{{getColor(7)}}" class='glyphicon glyphicon-stop'
                                                                onClick="setSelectedProperty(this.id, 7)"></span>
                                                            </td>
                                                            <td width="2%" aligh="left">
                                                                <span id="OK{{propertyList[7][0]}}" style ="color:green;visibility:hidden" class='glyphicon glyphicon-ok'></span>
                                                                <input id="NEW{{propertyList[7][0]}}" type="hidden" value="{{commentList[7][1]}}" ng-click="storeComment($event, cuis.entries[cuis.ind]['SCD_rxcui'])" />
                                                            </td>
                                                            <td width="43%">
                                                                <div role="alert">
                                                                <b>&nbsp;&nbsp;{{propertyList[8][1].split(":")[1].trim()}}:</b>&nbsp;&nbsp;
                                                                <span style="color:blue">{{existing[0]['prop10']}}</span>
                                                                </div>
                                                            </td>
                                                            <td width="5%">
                                                                <span id="{{propertyList[8][1]}}" style ="color:{{getColor(8)}}" class='glyphicon glyphicon-stop'
                                                                onClick="setSelectedProperty(this.id, 8)"></span>
                                                            </td>
                                                            <td width="2%" aligh="left">
                                                                <span id="OK{{propertyList[8][0]}}" style ="color:green;visibility:hidden" class='glyphicon glyphicon-ok'></span>
                                                                <input id="NEW{{propertyList[8][0]}}" type="hidden" value="{{commentList[8][1]}}" ng-click="storeComment($event, cuis.entries[cuis.ind]['SCD_rxcui'])" />
                                                                <input id="NEW{{propertyList[10][0]}}" type="hidden" value="{{commentList[10][1]}}" ng-click="storeComment($event, cuis.entries[cuis.ind]['SCD_rxcui'])"/>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div> 
                                            </div>
                                        </td>
                                    </tr>
                                    <tr valign="top">
                                        <td class="col-sm-2">
                                            <div class="control-group" >
                                                <div class="controls" align="center" valign="top">
                                                    <table>
                                                        <tr valign="top">
                                                            <td>
                                                                <input id="okButtonTitle" type="hidden" value="{{reviewButtonText}}"/>
                                                            </td>
                                                            <td>
                                                                <button id="prevButton" 
                                                                        name="prevButtonName" 
                                                                        class="btn btn-primary" 
                                                                        onclick="resetOK()" 
                                                                        ng-click="getPrev(currentReviewStatus);" 
                                                                        ng-disabled="(cuis.ind == 0)">Previous
                                                                </button>
                                                            </td>
                                                            <td>&nbsp;</td>
                                                            <td>
                                                                <button id="okButton" 
                                                                        name="okButtonName" 
                                                                        class="btn btn-success" 
                                                                        style="{{reviewButtonColor}}" 
                                                                        onclick="setOK()"
                                                                        title="This button gets disabled, once review is submitted."
                                                                        ng-disabled="(currentReviewStatus == 'Complete')">{{reviewButtonText}}
                                                                </button>
                                                            </td>
                                                            <td>&nbsp;</td>
                                                            <td>
                                                                <button id="nextButton" 
                                                                        name="nextButtonName" 
                                                                        class="btn btn-primary" 
                                                                        onclick="resetOK()" 
                                                                        ng-click="getNext($event, cuis.entries[cuis.ind]['SCD_rxcui'], currentReviewStatus);">SKIP & Next
                                                                </button>
                                                            </td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-2">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Comments by Reviewer:&nbsp;&nbsp;
                                                    <b><span id="currentReviewer"></span></b>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <table>
                                            <tr>
                                                <td colspan="2">
                                                    <span id="{{propertyList[10][1]}}" style ="color:{{getColor(10)}}" class='glyphicon glyphicon-stop'
                                                        onClick="setSelectedProperty(this.id, 10)" data-toggle='tooltip' title="Click here to select 'General Comments' option.">
                                                    </span>
                                                    <label class="control-label" for="reviewers">&nbsp;&nbsp;Please add comments for:</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="control-group">
                                                        <select id="selectedProperty" 
                                                                name="selectedProperty" 
                                                                class="dropdown-toggle" 
                                                                data-toggle="dropdown" 
                                                                ng-model="selection.property"
                                                                onchange="changeSelectedProperty()"
                                                                ng-disabled="(currentReviewStatus[0].review_status == 'Complete')"
                                                                style="height:225px"
                                                                multiple>
                                                                <option ng-repeat="prop in propertyList" 
                                                                value="{{prop[1]}}">{{prop[1]}}</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <textarea id="currentComment" 
                                                                ng-model="newComemnt"  
                                                                class="form-control col-xs-12"
                                                                style="height:225px;width:400px;color:black"
                                                                title="Please type comments for selected properties here..."
                                                                placeholder="Please type comments for selected properties here..."
                                                                ng-disabled="(!selection.property)||(currentReviewStatus[0].review_status == 'Complete')">
                                                    </textarea>
                                                </td>
                                            </tr>
                                            <tr><td colspan="2">&nbsp;</td></tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <button id="addCommentButton" 
                                                            name="okButtonName" 
                                                            class="btn btn-success" 
                                                            onclick="addComment()" 
                                                            ng-disabled="(!selection.property)||(currentReviewStatus[0].review_status == 'Complete')">Save Comment
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr ng-hide="!showHelp">
                <td>
                    <table border="2">
                        <tr>
                            <td>
                                <ul>
                                    <li>Identify yourself by selecting the name from "Reviewers" drop down list.
                                    <p> if you do not see your name, either select "Guest Reviewer"</p>
                                    <p>or contact the <u><a href="mailto:Freimuth.Robert@mayo.edu?subject=Request for reviewer addition">administrator</a></u>.</p></li>
                                    <li>Please see below to identify UI components and thier roles in review process:</li>
                                </ul>
                            </td>
                        </tr>
                        <tr bgcolor="FireBrick" style="color:white"><td>User Interface Help - Section 1</td></tr>
                        <tr>
                            <td>
                                <p>
                                <img src="../images/slide1.png" alt="help image to show UI components and thier roles.">
                                </p>
                            </td>
                        </tr>
                        <tr bgcolor="FireBrick" style="color:white"><td>User Interface Help - Section 2</td></tr>
                        <tr>
                            <td>
                                <p>
                                <img src="../images/slide2.png" alt="help image to show UI components and thier roles.">
                                </p>
                            </td>
                        </tr>
                        <tr bgcolor="FireBrick" style="color:white"><td>User Interface Help - Section 3</td></tr>
                        <tr>
                            <td>
                                <p>
                                <img src="../images/slide3.png" alt="help image to show UI components and thier roles.">
                                </p>
                            </td>
                        </tr>
                        <tr bgcolor="FireBrick" style="color:white"><td>User Interface Help - Section 4</td></tr>
                        <tr>
                            <td>
                                The following screen is displayed in absence of any drug record (to get reviewed).
                                <p>
                                <img src="../images/slide4.png" alt="help image to show UI components and thier roles.">
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
