<div ng-controller="RxNormList">
	<table>
	<tr><td><h3><span class="label label-info">Review Comments</span></h3></td>
		<td><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Page:</strong> {{tableParams.page()}}</td>
    	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Count per page:</strong> {{tableParams.count()}}</td>
    </tr>
    <tr><td>&nbsp;</td></tr>
	</table>
    <table ng-table="tableParams" class="table">
        <tr ng-repeat="lst in $data">
            <td data-title="'RxCUI'" sortable='"SCD_rxcui"'>
                {{lst["SCD_rxcui"]}}
            </td>
            <td data-title="'Name'" sortable='"SCD_str"'>
                {{lst["SCD_str"]}}
            </td>
            <td data-title="'Property'" sortable='"SCD_property"'>
                {{lst["SCD_property"]}}
            </td>
            <td data-title="'Reviewer'" sortable='"SCD_reviewer"'>
                {{lst["SCD_reviewer"]}}
            </td>
            <td data-title="'Comment'" sortable='"SCD_comment"'>
                {{lst["SCD_comment"]}}
            </td>
        </tr>
    </table>
</div>